@font-face {
  font-family: 'genesis-head';
  src: url('../fonts/GenesisSansHeadKRLight.woff2') format(woff2);
  font-weight: 300;
}

@font-face {
  font-family: 'genesis-head';
  src: url('../fonts/GenesisSansHeadKRRegular.woff2') format(woff2);
  font-weight: 400;
}

@font-face {
  font-family: 'genesis-text';
  src: url('../fonts/GenesisSansTextKRRegular.woff2') format(woff2);
  font-weight: 400;
}
